= render_ce "projects/merge_requests/show"

- if batch_comments_enabled?
  #js-review-bar

-# haml-lint:disable InlineJavaScript
:javascript
  // Append static, server-generated data not included in merge request entity (EE-Only)
  // Object.assign would be useful here, but it blows up Phantom.js in tests
  window.gl.mrWidgetData.is_geo_secondary_node = '#{Gitlab::Geo.secondary?}' === 'true';
  window.gl.mrWidgetData.geo_secondary_help_path = '#{help_page_path("/gitlab-geo/configuration.md")}';
  window.gl.mrWidgetData.sast_help_path = '#{help_page_path("user/application_security/sast/index")}';
  window.gl.mrWidgetData.sast_container_help_path = '#{help_page_path("user/application_security/container_scanning/index")}';
  window.gl.mrWidgetData.dast_help_path = '#{help_page_path("user/application_security/dast/index")}';
  window.gl.mrWidgetData.dependency_scanning_help_path = '#{help_page_path("user/application_security/dependency_scanning/index")}';
  window.gl.mrWidgetData.vulnerability_feedback_help_path = '#{help_page_path("user/application_security/index")}';
  window.gl.mrWidgetData.approvals_help_path = '#{help_page_path("user/project/merge_requests/merge_request_approvals")}';
  window.gl.mrWidgetData.visual_review_app_available = '#{@project.feature_available?(:visual_review_app)}' === 'true';
  window.gl.mrWidgetData.license_management_comparsion_path = '#{license_management_reports_project_merge_request_path(@project, @merge_request) if @project.feature_available?(:license_management)}'
