- page_title _('Productivity Analytics')

#js-productivity-analytics
  .row-content-block.second-block.d-flex.flex-column.flex-md-row
    .dropdown-container
      .js-group-project-select-container
    .js-search-bar.filter-container.hide
      = render 'shared/issuable/search_bar', type: :productivity_analytics
    .dropdown-container
      .js-timeframe-container
  .js-productivity-analytics-app-container
